/************ begin: global styles ************/

:root {
  --primary: #ff8a00;
  --secondary: #fbf8ef;
}

body {
  background-color: var(--secondary);
  font-family: 'Spinnaker', sans-serif !important;
}

.navbar-container {
  padding: 0px;
}

.main-container {
  padding: 0px;
  margin-top: 30px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px; 
  color: #444;
}


.button-primary, .button-primary:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--secondary);
  border-radius: 100px;
}

.button-primary:focus {
  box-shadow: 0 0 0 2px var(--primary);
}

.button-primary:disabled {
  color: var(--secondary);
  opacity: 0.5;
}

.button-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--secondary);
  opacity: 0.8;
}



.button-secondary, .button-secondary:focus {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
  border-radius: 100px;
  border: 1px solid var(--primary);
}

.button-secondary:focus {
  box-shadow: 0 0 0 2px var(--secondary);
}

.button-secondary:disabled {
  color: var(--primary);
  opacity: 0.5;
}

.button-secondary:hover {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  color: var(--primary);
  opacity: 0.8;
}

/************ end: global styles ************/


/************ begin: navbar ************/
.navbar {
  background-color: var(--primary);
  color: var(--secondary);
}

.navbar .nav-link a{
  color: var(--secondary);
  font-size: 14px;
  text-decoration: none;
}

.navbar .nav-link a.active{
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand a { 
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
}

.navbar-brand a img {
  height: 40px;
  margin: 10px;
}

.cart-widget {
  color: var(--secondary);
  text-decoration: none;
  position: relative;
}

.cart-widget:hover {
  cursor: pointer;
  color: var(--secondary);
}

/************ end: navbar ************/

.cart-empty {
  text-align: center;
  font-size: 22px;
}



.cart-col-quantity, .cart-col-price {
  text-align: right;
}

.cart-table-total{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #666;
}

.cart-table-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-list-img{
  max-width: 50px;
  max-height: 50px;
}

.cart-widget-item-count {
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 11px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  background: orangered;
  padding: 0px;
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.button-cart-remove-item{
  color: #999;
  border-color: #999;
  font-size: 12px;
}

/************ begin: item detail ************/
.item-count .count[disabled] {
  color: #333;
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
}


.item-count .plus-button {
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 0px 100px 100px 0px !important;
  border: 1px solid var(--primary);
}

.item-count .minus-button {
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 100px 0px 0px 100px !important;
  border: 1px solid var(--primary);
}

.plus-button:focus, .minus-button:focus {
  box-shadow: 0px 0px 0px 0px ;
}

/************ end: item detail ************/





.block-button {
  width: 100%;
}

/************ begin: item card ************/
.item-card{
  opacity: 0.8;
}

.item-card:hover {
  cursor: pointer;
  opacity: 1;
}

.item-card .title {
  font-size: 14px;
  color: #333;
}

.item-card .price {
  font-size: 12px;
  color: #666;
}

.item-card .thumbnail-wrapper{
  height: 120px;
  text-align: center;
  overflow: hidden;
}

.item-card .thumbnail-wrapper img{
  height: 100%;
  width: auto;
  transition: all 0.1s;
}

.item-card:hover .thumbnail-wrapper img{
  transform: scale(1.2);
  transition: all 0.3s;
}


/************ end: item card ************/


/************ end: item detail ************/
.item-detail {
  margin-top: 20px;
  color: #444;
}

.item-detail .title {
  margin-bottom: 10px;
  font-size: 36px;
}

.item-detail .description {
  margin-bottom: 20px;
}

.item-detail .price {
  margin-bottom: 30px;
  color: #666;
}

.item-detail .img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.item-detail .thumbnail {
  cursor: pointer;
}

/************ end: item detail ************/

/************ begin: footer ************/
.footer {
  background-color: var(--secondary);
  color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.footer .col-left {
  text-align: left;
}

.footer .col-right {
  text-align: right;
}

.footer .social-icon {
  color: var(--primary);
  font-size: 20px;
  margin: 5px;
  margin-left: 20px;
}

.footer .social-icon:hover {
  opacity: 0.7;
  transition: all 0.2s;
}

/************ end: footer ************/
