:root {
  --primary: #ff8a00;
  --secondary: #fbf8ef;
}

body {
  background-color: var(--secondary);
  font-family: 'Spinnaker', sans-serif !important;
}



/************ begin: navbar ************/
.navbar {
  background-color: var(--primary);
  color: var(--secondary);
}

.navbar .nav-link a{
  color: var(--secondary);
  font-size: 14px;
  text-decoration: none;
}

.navbar .nav-link a.active{
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand a { 
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
}

.navbar-brand a img {
  height: 40px;
  margin: 10px;
}

.cart-widget {
  color: var(--secondary);
  text-decoration: none;
  position: relative;
}

.cart-widget:hover {
  cursor: pointer;
  color: var(--secondary);
}

.cart-empty {
  text-align: center;
  font-size: 22px;
}

/************ end: navbar ************/

.section-title {
  font-size: 24px;
  padding-left: 10px;
  color: #444;
}

.cart-col-quantity, .cart-col-price {
  text-align: right;
}

.cart-table-title, .cart-table-total{
  font-size: 22px;
  font-weight: bold;
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart-table-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-list-img{
  max-width: 50px;
  max-height: 50px;
}

.cart-widget-item-count {
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 11px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  background: orangered;
  padding: 0px;
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  margin-bottom: 10px;
  text-align: center;
}



button.item-count-number[disabled] {
  color: black;
}




.item-detail {
  margin-top: 20px;
  color: #333;
}

.item-detail-title {
  margin-bottom: 20px;
  font-size: 42px;
}

.item-detail-description {
  margin-bottom: 20px;
}

.item-detail-price {
  margin-bottom: 10px;
}

.item-detail-img {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.block-button {
  width: 100%;
}

/************ begin: item card ************/
.item-card{
  opacity: 0.8;
}

.item-card:hover {
  cursor: pointer;
  opacity: 1;
}

.item-card .title {
  font-size: 14px;
  color: #333;
}

.item-card .price {
  font-size: 12px;
  color: #666;
}

.item-card .thumbnail-wrapper{
  height: 120px;
  text-align: center;
  overflow: hidden;
}

.item-card .thumbnail-wrapper img{
  height: 100%;
  width: auto;
  transition: all 0.1s;
}

.item-card:hover .thumbnail-wrapper img{
  transform: scale(1.2);
  transition: all 0.3s;
}


/************ end: item card ************/

/************ begin: footer ************/
.footer {
  background-color: var(--secondary);
  color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.footer .col-left {
  text-align: left;
}

.footer .col-right {
  text-align: right;
}

.footer .social-icon {
  color: var(--primary);
  font-size: 20px;
  margin: 5px;
  margin-left: 20px;
}

.footer .social-icon:hover {
  opacity: 0.7;
  transition: all 0.2s;
}

/************ end: footer ************/
