.body {
  background-color: red;
}
.navbar {
  background-color: #ff8a00;
  color: #fbf8ef;
}

.navbar-brand a { 
  text-decoration: none;
  color: #fbf8ef;
  font-weight: bold;
}

.navbar-brand a img {
  height: 30px;
}

.nav-item {
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 3px;
  padding: 2px 3px 2px 3px;
  background-color: lightgrey;
  border-radius: 5px;
  
}

.nav-item a{
  text-decoration: none;
  color: #333;
}

.nav-item a.active {
  font-weight: bold;
}

.nav-item:hover{
  background-color: lightblue;
}

.nav-item:link{
  text-decoration: none;
  color: #333;
}

.cart-widget {
  color: rgba(0, 0, 0, .55);
  text-decoration: none;
  position: relative;
}

.cart-widget:hover {
  cursor: pointer;
  color: #212529;
}

.cart-empty {
  text-align: center;
  font-size: 22px;
}

.cart-col-quantity, .cart-col-price {
  text-align: right;
}

.cart-table-title, .cart-table-total{
  font-size: 22px;
  font-weight: bold;
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart-table-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-list-img{
  max-width: 50px;
  max-height: 50px;
}

.cart-widget-item-count {
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 11px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  background: orangered;
  padding: 0px;
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  margin-bottom: 10px;
  text-align: center;
}



button.item-count-number[disabled] {
  color: black;
}
.card img.card-img-top {
  display: block;
  max-height:100px;
  width: auto;
  height: auto;
  padding: 10px;
  margin: auto;
}

.item-card-title {
  font-size: 18px;
  min-height: 150px;
}

.item-detail {
  margin-top: 20px;
  color: #333;
}

.item-detail-title {
  margin-bottom: 20px;
  font-size: 42px;
}

.item-detail-description {
  margin-bottom: 20px;
}

.item-detail-price {
  margin-bottom: 10px;
}

.item-detail-img {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.block-button {
  width: 100%;
}